:root{
    --main-green:#4caf4f;
    --border-color: #e8e8e8;
}

#root{
    display: flex;
    flex-flow: column;
    height: 100vh;
    width: 100vw;
    position: fixed;
}

.dashboard-container{
    grid-template-columns: 2fr 1fr;
}

.sidebar{
    border-right: .1rem solid var(--border-color);
    display: flex;
    flex-flow: column;
}

.sidebar>.tab{
    display: flex;
    align-items: center;
}

.sidebar>.tab.green{
    background-color: #48ab4b40;
    border-left: .75rem solid rgba(76, 175, 79, 0.75);
}
.sidebar>.tab.hover:hover{
    background-color: #48ab4b40;
    border-left: .75rem solid rgba(76, 175, 79, 0.75);
}

.sidebar>.tab>.icon{
    margin: 1.5rem;
}

.dashboard{ 
    grid-template-rows: 2fr 1fr ;
}

.dashboard>div{
    text-align: center;
}

.history-container{
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}
  
.wrapper.is-open {
    grid-template-rows: 1fr;
}
.inner {
    overflow: hidden;
}

.arrow{
    transition: transform 0.2s ease-in;
}

.arrow.arrow-vertical{
    transform: rotate(90deg);
}