* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.calendar-container{
    display: grid;
    /* grid-template-columns: 2fr 1fr; */
    grid-template-columns: minmax(0, 2fr) minmax(0, 1fr); /* Alternatively, you can use specific widths like 200px 100px; */
    width: 95%;
    height: 100%;
    margin: auto;
    margin-top: 1rem;
}

.calendar-grid{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 100%;
}

.goals-view{
    display: grid;
    grid-template-rows: 1fr 10fr;
}

.one_time{
    background-color: #E0783D;
}

.daily{
    background-color: #53A5D3;
}

.weekly{
    background-color: #FFC83A;
}

.monthly{
    background-color: #FF0000;
}

.yearly{
    background-color: #7453D3;
}

.one_time-text{
    color: #E0783D;
    border-color: #E0783D;
}

.daily-text{
    color: #53A5D3;
    border-color: #53A5D3;
}

.weekly-text{
    color: #FFC83A;
    border-color: #FFC83A;
}

.monthly-text{
    color: #FF0000;
    border-color: #FF0000;
}

.yearly-text{
    color: #7453D3;
    border-color: #7453D3;
}